@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono&family=Tenor+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Special+Elite&display=swap');


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

.header {
  background-color: #111;
  border-bottom: 2px solid rgba(51, 51, 51, 0.25);
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-wrap: nowrap;
  overflow: hidden;
  z-index: 2;
}

.img {
  display: flex;
  flex-wrap: nowrap;
  padding: 15px;
}

.header > .img > img {
  margin: 5px;
  height: 40px;
}

.logo{
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

section {
  width: 100%;
}

.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video1 {
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: fill;
  outline: none;
}

.videologo {
  position: relative;
  height: 75vh;
  width: 90%;
  margin-top: -65vh;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.borda{
    width: 97%;
    height: 103%;
    position: absolute;
    border: 1.5px solid rgb(94, 94, 94);
    border-top-right-radius: 15vh;
    z-index: 100;
    color: transparent;
}
.video2 {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: relative;
}


.logodrone {
  position: absolute;
  z-index: 10;
  width: 40%;
}

.sobre {
  margin-top: -8%;
  display: flex;
  flex-direction: row;
  padding: 2% 5%;
  gap: 5%;
  background: url(imgs/backgroundx.png) left top repeat-x rgb(247, 247, 247);
  overflow: hidden;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
}

.p1,
.p2 {
    margin-top: 15%;
    background-color: white;
    padding: 10px;
    text-align: justify;
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
}

.sobre h1 {
  font-size: 2.5vw;
}

.sobre p {
  font-size: 2vw;
}

.história{
  display: flex;
  flex-direction: column;
  align-items: center;  
}

#pesquisa {
  display: flex;
  margin-top: 50px;
  border: 2px solid black;
  padding: 0;
  border-radius: 50px;
  width: 98%;
  height: 44px;
  align-items: center;
  box-shadow: 2px 2px 2px 0.5px rgba(0, 0, 0, 0.450);
}

.linha {
  z-index: 10;
  font-family: 'Special Elite', cursive;
  border-right: 2px solid;
  font-size: 24px;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  animation: blinking 0.5s infinite step-end alternate;
}

.desc{
  background-color: rgba(245, 245, 245, 0.7);
  border: 0.5px solid black;
  width: 92vw;
  margin: 25px;
  padding: 25px;
  text-align: justify;
  font-family: 'Kanit', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 20px;
}


@keyframes blinking {
  50%{
      border-color: transparent;
  }
}


/*=====================================================================================
CAROUSEL*/
.section2{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

.modelo3d{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modelo3d > h2{
  font-size: 24px;
  font-weight: 500;
  font-family: 'Special Elite', cursive;
  padding: 10px;
}

.modelo3d > img{
  width: 80%;
  border-radius: 25px;
  border: 2px solid rgba(255, 105, 180, 0.650);
}

.fim{
  display: flex;
  align-items: center;
  justify-content: center;
}


footer{
  background-color: #111;
  border-bottom: 2px solid rgba(51, 51, 51, 0.25);
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  height: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  z-index: 2;
  padding: 15px;
}

footer > h1{
  font-weight: 500;
  font-size: 24px;
}

footer > p{
  margin: 10px;
  font-size: 16px;
}
/* Media queries para ajustes responsivos */

@media screen and (max-width: 912px) {
  .header {
    height: auto;
    padding: 0.1vh;
  }

  .img {
    padding: 5px;
  }

  .header > .img > img {
    height: 30px;
  }

  .li {
    opacity: 0;
  }

  .videos {
    position: relative;
  }

  .video1{
    opacity: 0;
  }
  .videologo {
    margin-top: -15%;
    width: 100vw;
    height: auto;
    position: absolute;
    margin-top: 0px;
  }

  .borda{
    opacity: 0;
  }
  .sobre {
    padding: 2% 3%;
    flex-direction: column;
  }

  .desc{
    font-size: 16px;
    width: 80vw;

  }
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }

.modelo3d > h2{
  font-size: 12px;
}

.fim img{
  width: 250px;
  height: 250px;
}

footer{
  flex-direction: column;
  height: 85px;
}
footer > h1{
  font-size: 12px;
  margin: 0;
}

footer > p{
  margin: 5px;
  font-size: 10px;
}
}
@media screen and (min-width: 1380px) {
    .header {
      height: 8vh;
    }
  
    .header > .img > img {
      height: 6vh;
    }
  
    .li > ul {
      margin: 15px;
      padding: 10px 20px;
      font-size: 3vh;
    }
  
    .sobre {
      padding: 2% 10%;
    }

  }